.dashboard{
  display: flex;

  .dashboard__container{
    display: flex;
    gap: 30px;
    padding: 30px;
  }
}

.dashboard__card{
  height: 200px;
  width: fit-content;
  font-size: 18px;
  padding: 10px;

  p{
    margin: 10px;
  }
}